<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestA" parallel="false">

	<listeners>
		<listener class-name="com.basics.ScreenshotOnFailure" />
	</listeners>

	<test name="Listeners">
		<classes>
			<class name="com.basics.ScreenshotOnFailure" />
		</classes>
	</test>

</suite>